.popup__input-field {
  max-width: 238px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0 0 9px 0;
}
.popup__input-field:nth-child(1) {
  margin-bottom: 30px;
}

@media (min-width: 650px) {
  .popup__input-field {
    max-width: 358px;
  }
}
