.popup__text {
  width: 238px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto 30px;
  padding: 0 0 13px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__text + .popup__text {
  margin-bottom: 45px;
}

@media (min-width: 650px) {
  .popup__text {
    width: 358px;
  }
  .popup__text + .popup__text {
    margin-bottom: 48px;
  }
}
